<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-light" style="background-color: #4172de;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Autoservisai.lt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8080/rodyti/visi_autoservisai">Sąrašas <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/test/visos_specializacijos">Specializacijos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/meistrai/visi_meistrai">Meistrai</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/meistru/vertinimas/{id}">Meistrų vertinimas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="http://localhost:8080/login">Išeiti</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>

    <title>Autoservisai</title>

</head>
<body>
<div class="container">
<h3>Autoservisų sąrašas</h3>
<hr>

 <div th:each="autoservisai : ${visiAutoservisai}" class="list-group">
    <a th:text="${autoservisai.getPavadinimas()}" th:href="@{/duomenys/autoservisai/(id=${autoservisai.getId()})}" class="list-group-item list-group-item-action"></a>
</div>
</div>
</body>
</html>